
@{
    ViewData["Title"] = "";
    ViewBag.BodyClass = "c-404_page";
}



<div class="c-404">
    <div class="c-404_title">
        <h1>صفحه‌ای که دنبال آن بودید پیدا نشد!</h1>
    </div>
    <div class="c-404_action">
        <a href="/" class="btn-primary">صفحه اصلی</a>
    </div>
    <div class="c-404_img">
        <img src="/img/404_img.png">
    </div>
</div>