<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/style_1366.css" media="screen and (min-width:1366px">
    <link rel="stylesheet" type="text/css" href="/css/style_max_1365.css" media="screen and (max-width:1365px">
    <link rel="stylesheet" type="text/css" href="/css/mobile_style.css" media="screen and (max-width:720px">
</head>

<body>
    <Partial name="_header" />
    <div class="c-cover js-cover"></div>

    @RenderBody()

    <Partial name="_footer" />


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/persianumber.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        var mySwiper = new Swiper('.js-main_slider', {
            // Optional parameters
            effect: "fade",
            loop: true,

            autoplay: {
                delay: 5000,
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.js-slider_next',
                prevEl: '.js-slider_prev',
            },
            pagination: {
                el: '.c-slider_dots',
                type: 'bullets',
                clickable: true
            },


        })

        mainswiper()

        var Swiper1 = new Swiper('#swiper1', {
            slidesPerView: 2,

            breakpointsInverse: true,
            breakpoints: {
                // when window width is >= 320px
                1680: {
                    slidesPerView: 5,

                },
                // when window width is >= 480px
                1368: {
                    slidesPerView: 3.75,

                },
                // when window width is >= 640px
                1008: {
                    slidesPerView: 3.5,

                }
            },
            // If we need pagination


            // Navigation arrows
            navigation: {
                nextEl: '.js-swiper_btn-next',
                prevEl: '.js-swiper_btn-prev',
            },



        })


    </script>



</body>

</html>
