    <footer class="c-footer">
        <div class="container">
            <div class="c-footer_jump-top">
                <span class="c-footer_jump-top_container js-footer_jump-top_container">
                    <span class="c-footer_jump-top_icon"></span>
                    برگشت به بالا
                </span>
            </div>

            <div class="c-footer_feature">
                <a href="#">
                    <div class="c-footer-feature_item c-sliders_right-feature_item-1">تحویل اکسپرس</div>
                </a>
                <a href="#">
                    <div class="c-footer-feature_item c-sliders_right-feature_item-2">پشتیبانی ۲۴ ساعته</div>
                </a>

                <a href="#">
                    <div class="c-footer-feature_item c-sliders_right-feature_item-3">پرداخت در محل</div>
                </a>

                <a href="#">
                    <div class="c-footer-feature_item c-sliders_right-feature_item-4">هفت رو ضمانت بازگشت</div>
                </a>

                <a href="#">
                    <div class="c-footer-feature_item c-sliders_right-feature_item-5">ضمانت اصل بودن کالا</div>
                </a>
            </div>

            <hr />

            <div class="c-footer_about">
                <div class="c-footer_links">
                    <nav class="c-footer_links-col">
                        <div class="c-footer_links-headline">
                            <div><a href="#">راهنمای خرید از دیجی‌کالا</a></div>
                        </div>
                        <ul class="c-footer_links-ul">
                            <li><a href="#">نحوه ثبت سفارش</a></li>
                            <li><a href="#">رویه ارسال سفارش</a></li>
                            <li><a href="#">شیوه‌های پرداخت</a></li>
                        </ul>
                    </nav>
                    <nav class="c-footer_links-col">
                        <div class="c-footer_links-headline">
                            <div><a href="#">خدمات مشتریان</a></div>
                        </div>
                        <ul class="c-footer_links-ul">
                            <li><a href="#">پاسخ به پرسش‌های متداول</a></li>
                            <li><a href="#">رویه‌های بازگرداندن کالا</a></li>
                            <li><a href="#">شرایط استفاده</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                        </ul>
                    </nav>

                    <nav class="c-footer_links-col">
                        <div class="c-footer_links-headline">
                            <div><a href="#">با دیجی‌کالا</a></div>
                        </div>
                        <ul class="c-footer_links-ul">
                            <li><a href="#">فروش در دیجی‌کالا</a></li>
                            <li><a href="#">همکاری با سازمان‌ها</a></li>
                            <li><a href="#">فرصت‌های شغلی</a></li>
                            <li><a href="#">تماس با دیجی‌کالا</a></li>
                            <li><a href="#">درباره دیجی‌کالا</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="c-footer_form">
                    <form class="c-form_newsletter">
                        <fieldset>
                            <legend class="c-form_newsletter-title">
                                از تخفیف‌ها و جدیدترین‌های دیجی‌کالا باخبر شوید:
                            </legend>

                            <div class="c-form_newsletter-row">
                                <input class="c-form_newsletter-input" placeholder="آدرس ایمیل خود را وارد کنید">
                                <button type="submit" class="c-form_newsletter-btn">ارسال</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="c-footer_community">
                        <div class="c-footer_social">
                            <span>دیجی‌کالا را در شبکه‌های اجتماعی دنبال کنید:</span>
                            <div class="c-footer_social_image">
                                <div class="c-footer_social-instagram">
                                    <a href="#">
                                        <img src="/svg/instagram.svg" width="25px">
                                        اینستاگرام دیجی‌کالا
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="c-footer_address">
                <ul class="c-footer_contact">
                    <li> هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</li>
                    <li>شماره تماس :
                        <a href="#">۶۱۹۳۰۰۰۰ - ۰۲۱ </a>,
                        <a href="#">۶۱۹۳۰۰۰۰ - ۰۲۱ </a>
                    </li>
                    <li>آدرس ایمیل :
                        <a href="#">info@digikala.com</a>
                    </li>
                </ul>

                <div class="c-footer_address-images">
                    <a href="#"><img src="/img/footer/bazar.png"></a>
                    <a href="#"><img src="/img/footer/siapp.png"></a>
                </div>
            </div>
        </div>

        <div class="c-footer_more-info">
            <div class="container">
                <div class="c-footer_description">
                    <div class="c-footer_description-content">
                        <article class="c-footer_seo">
                            <h1>فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</h1>
                            <p>
                                <span class="c-footer_seo-content">
                                    دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                                    پایبندی به سه اصل کلیدی، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن
                                    کالا، موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی
                                    ایران تبدیل شود. به محض ورود به دیجی‌کالا با یک سایت پر از کالا رو به رو می‌شوید! هر
                                    آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                                </span>
                                <span class="c-footer_seo-readmore js-footer_seo-readmore" style="display:none">
                                    دیجی‌کالا مثل یک ویترین پر زرق و برق است که با انواع و اقسام برندهایی نظیر سامسونگ
                                    (Samsung)، ال جی (LG)، اپل (Apple)، نوکیا (Nokia)، شیائومی (Xiaomi)، هواوی (Huawei)
                                    و همچنین محصولاتی که هر فرد در زندگی شخصی، تحصیلی و کاری خود به آنها احتیاج پیدا
                                    می‌کند، چیده شده است. اینجا مرجع متنوع‌ترین کالاهای دیجیتال از گوشی موبایل اندروید و
                                    iOS (آیفون) گرفته تا تبلت، لپ تاپ، هارد اکسترنال، اسپیکر، هدفون، هندزفری و پاور بانک
                                    است. دیجی‌کالا همچنین یک بازار آنلاین برای خرید جدیدترین و ضروری‌ترین لوازم خانگی
                                    مثل فرش، پرده، کاغذ دیواری، مبلمان، میز تلویزیون و ماشین ظرفشویی است تا هر فرد
                                    بتواند مطابق با سلیقه شخصی، خانه رویاهایش را بسازد. حتی می‌توانید محیط کار خود را با
                                    بهترین لوازم اداری مثل ماشین حساب، تلفن و لوازم التحریر تجهیز کنید. علاوه بر این،
                                    می‌توانید با خرید جدیدترین مدل‌های لباس، کیف و کفش زنانه، مردانه، بچه گانه، دخترانه،
                                    پسرانه و نوزاد و همین‌طور زیورآلات طلا، ماشین، دوچرخه و آلات موسیقی تجربه‌ای جدید از
                                    خرید آنلاین کسب کنید. مناسب‌ترین جمله درباره دیجی‌کالا ،بازار بزرگ اینترنتی، است؛
                                    چرا که با قدم گذاشتن در آن می‌توانید ،یک خرید اینترنتی لذت بخش، با قیمت مناسب و
                                    ارزان به همراه تخفیف ویژه در حراج ها را تجربه کنید
                                </span>
                                <a href="#" class="c-footer_btn-readmore js-footer_btn-readmore">مشاهده بیشتر</a>
                                <br>
                                <a href="#">اسباب بازی</a>
                                <a href="#">عطر و ادکلن</a>
                                <a href="#">تلویزیون</a>
                                <a href="#">مانتو</a>
                            </p>
                        </article>
                    </div>
                    <aside>
                        <ul class="c-footer_enamd">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </aside>
                </div>
                <nav>
                    <ul class="c-footer_other_site">
                        <li><a href="#"><img src="/svg/footer/1.svg"></a></li>
                        <li><a href="#"><img src="/svg/footer/2.svg"></a></li>
                        <li><a href="#"><img src="/svg/footer/3.svg"></a></li>
                        <li><a href="#"><img src="/svg/footer/4.svg"></a></li>
                    </ul>
                </nav>

                <div class="c-footer_copyright">
                    <div class="c-footer_copyright-text">
                        استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد.
                    </div>
                </div>
            </div>
        </div>
    </footer>