   <header class="c-header js-header">
        <div class="container">
            <div class="c-header_row">
                <div class="c-header_right">
                    <div class="c-header_logo">
                        <a href="#" class="c-hedaer_logo-img">Digikala</a>
                    </div>
                    <div class="c-header_search">
                        <div class="c-search">
                            <input type="text" class="js-input_search" name="searchbox"
                                placeholder="جستجو در دیجی‌کالا …">
                            <!-- <button class="c-search_button"></button> -->
                            <div class="c-search_result js-search_result">
                                <div class="c-search_result-footer">
                                    بیشترین جستجوهای اخیر:
                                    <ul>
                                        <li><a href="#">ساعت</a></li>
                                        <li><a href="#">کفش</a></li>
                                        <li><a href="#">یخچال</a></li>
                                        <li><a href="#">پوشک</a></li>
                                        <li><a href="#">کوله</a></li>
                                        <li><a href="#">ماشین لباسشویی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-header_action">
                    <div class="c-heder_action-btn">
                        <div>
                            <a class="c-header_btn-user ">
                                <span>ورود به حساب کاربری</span>
                            </a>

                            <!-- <div  class="c-header_user-dropdown js-header_user-dropdown">
                                    <a class="c-header_user-dropdown_login">ورود به دیجی‌کالا</a>
                                    <div class="c-header_user-dropdown_sign-up">
                                        <span> کاربر جدید هستید؟</span><a href="#">ثبت‌نام</a>
                                    </div>

                                    <a class="c-header_user-dropdown_action c-header_user-profile">پروفایل</a>
                                    <a class="c-header_user-dropdown_action c-header_user-order">پیگیری سفارش</a>
                                </div> -->
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="c-heder_action-btn">
                        <div class="c-header_btn-cart_container">
                            <a class="c-header_btn-cart">
                                <!-- <span class="c-header_btn-cart-counter" data-counter="۱"></span> -->
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="c-header_nav">
            <!-- <div class="c-header_nav-line"></div> -->
            <div class="container">
                <div class="c-topmenu">
                    <ul class="c-topmenu_list">
                        <li>
                            <ul class="c-topmenu_list-categoris_items">

                                <li class="c-topmenu_list-hover js-topmenu_list-hover">
                                    <div></div>
                                </li>

                                <li class="js-topmenu_list-li js-topmenu_list-li-has-sublist">
                                    <div class="c-topmenu_list-main_menu-title">
                                        دسته‌بندی کالاها
                                    </div>
                                    <div class="c-topmenu_list-main_menu-container js-topmenu_list-main_menu-container">
                                        <div class="c-topmenu_list-main_menu-list">
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-1 is-hoverd" data-id="1">کالای دیجیتال</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-2" data-id="2">آرایشی، بهداشتی و سلامت</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-3" data-id="3">خودرو، ابزار و اداری</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-4" data-id="4">مد و پوشاک</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-5" data-id="5">خانه و آشپزخانه</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-6" data-id="6">کتاب، لوازم تحریر و هنر</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-7" data-id="7">اسباب بازی، کودک و نوزاد</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-8" data-id="8">ورزش و سفر</a>
                                            <a class="js-topmenu_list-a c-topmenu_list-a c-topmenu_list-a-9" data-id="9">خوردنی و آشامیدنی</a>
                                        </div>
                                        <div class="c-topmenu_list-main_menu-content">
                                            <div class="c-topmenu_sublist js-topmenu_sublist is-active" data-id="1">
                                                <div class="c-topmenu_sublist-menulist">
                                                    <div class="c-topmenu_sublist-menulist-header">
                                                            <a >
                                                            همه دسته‌بندی‌های کالای دیجیتال
                                                        </a>
                                                    </div>
                                                    <ul>
                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <!-- <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li> -->

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#"> اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>
                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#"> هواوی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">شیائومی</a>
                                                        </li>
                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#"> آنر</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">نوکیا</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">آیفون اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                     






                                                    </ul>
                                                </div>

                                                <!-- <div class="c-topmenu_sublist-img">
                                                    <a href="#" class="c-topmenu_sublist-img_a">
                                                        <img src="/img/menu/1.png">
                                                    </a>
                                                </div> -->
                                            </div>
                                            <div class="c-topmenu_sublist js-topmenu_sublist" data-id="2" >
                                                <div class="c-topmenu_sublist-menulist">
                                                    <ul>
                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">آیفون اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">آیفون اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>



                                                       


                                                    </ul>
                                                </div>

                                                <!-- <div class="c-topmenu_sublist-img">
                                                    <a href="#" class="c-topmenu_sublist-img_a">
                                                        <img src="/img/menu/2.png">
                                                    </a>
                                                </div> -->
                                            </div>
                                            <div class="c-topmenu_sublist js-topmenu_sublist" data-id="3" s>
                                                <div class="c-topmenu_sublist-menulist">
                                                    <ul>
                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">آیفون اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">کیف و کاور گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پاور بانک (شارژ همراه)</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">هندزفری، هدفون وهدست</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">پایه نگهدارنده گوشی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">گوشی موبایل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">آیفون اپل</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">سامسونگ</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">واقعیت مجازی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">مچ‌بند و ساعت هوشمند</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هدفون هدست و هندزفری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">هارد، فلش و SSD</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین عکاسی دیجیتال</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین ورزشی و فیلم‌برداری</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-item">
                                                            <a href="#">دوربین چاپ سریع</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">لوازم جانبی دوربین</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسپیکر بلوتوث و باسیم</a>
                                                        </li>

                                                        <li class="c-topmenu_sublist-li c-topmenu_sublist-main">
                                                            <a href="#">اسکوتر برقی</a>
                                                        </li>



                                                        



                                                    </ul>
                                                </div>

                                                <!-- <div class="c-topmenu_sublist-img">
                                                    <a href="#" class="c-topmenu_sublist-img_a">
                                                        <img src="/img/menu/3.png">
                                                    </a>
                                                </div> -->
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="js-topmenu_list-li">
                                    <a class="c-topmenu_list-li_main-a c-topmenu_list-li_main-a-bold">سوپرمارکت</a>
                                </li>
                                <li class="js-topmenu_list-li">
                                    <a class="c-topmenu_list-li_main-a c-topmenu_list-li_main-a-bold">تخفیف‌ها و پیشنهادها</a>
                                </li>
                                <li class="js-topmenu_list-li">
                                    <a class="c-topmenu_list-li_main-a">  سوالی دارید؟  </a>
                                </li>
                                <li class="js-topmenu_list-li">
                                    <a class="c-topmenu_list-li_main-a"> فروشنده شوید</a>
                                </li>


                            </ul>
                        </li>
                        <li>
                            <ul class="c-topmenu_list-location">
                                <li>
                                    <span class="c-topmenu_list-location-send-to">ارسال به </span>
                                    <span>ایلام، ارکواز</span>
                                </li>

                                <!-- <li>
                                                                        <a href="#" class="c-topmenu_list-a">فروش ویژه</a>
                                                                    </li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="mobile-main_menu js-mobile-main_menu">
            <div class="mobile-main_menu-logo "></div>
            <div class="mobile-main_menu-content">
                <ul class="mobile-main_menu-list">
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            کالای دیجیتال
                        </a>
                        <ul class="mobile-main_menu-sublist">
                            <li>
                                <a class="mobile-main_menu-subcategory  js-mobile_menu-item">
                                    لوازم جانبی گوشی
                                </a>
                                <ul class="mobile-main_menu-thirdlist">
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            کیف و کاور گوشی
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            پاور بانک (شارژر همراه)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            هندزفری، هدفون، هدست
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            پایه نگهدارنده گوشی
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory mobile-main_menu-subcategory_all">همه
                                            موارد این دسته</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory js-mobile_menu-item">
                                    گوشی موبایل
                                </a>
                                <ul class="mobile-main_menu-thirdlist">
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            آیفون اپل
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            هوآوی
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory mobile-main_menu-subcategory_all">
                                            همه موارد این دسته</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    واقعیت مجازی
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    مچ‌بند و ساعت هوشمند
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    هدفون، هدست، هندزفری
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    اسپیکر بلوتوث و با سیم
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    اسکوتر برقی
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory is-empty">
                                    هارد، فلش و SSD
                                </a>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory js-mobile_menu-item">
                                    دوربین
                                </a>
                                <ul class="mobile-main_menu-thirdlist">
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            دوربین عکاسی دیجیتال
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            دوربین‌ ورزشی و فیلم برداری
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            دوربین‌ چاپ سریع
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory mobile-main_menu-subcategory_all">
                                            همه موارد این دسته
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="mobile-main_menu-subcategory js-mobile_menu-item ">
                                    لوازم جانبی دوربین
                                </a>
                                <ul class="mobile-main_menu-thirdlist">
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            لنز
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            کیف
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            کارت حافظه
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory">
                                            کاغذ چاپ عکس
                                        </a>
                                    </li>
                                    <li>
                                        <a class="mobile-main_menu-thirdcategory mobile-main_menu-subcategory_all">
                                            همه موارد این دسته</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="mobile-main_menu-subcategory mobile-main_menu-subcategory_all">
                                    همه موارد این دسته
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            آرایشی، بهداشتی و سلامت
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            خودرو، ابزار و اداری
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            مد و پوشاک
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            خانه و آشپزخانه
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            کتاب، لوازم تحریر و هنر
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            اسباب بازی، کودک و نوزاد
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            ورزش و سفر
                        </a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category js-mobile_menu-item ">
                            خوردنی و آشامیدنی
                        </a>
                    </li>

                    <li class="mobile-main_menu-special">
                        <a class="mobile-main_menu-category mobile-main_menu-category_special">شگفت‌انگیزها</a>
                    </li>
                    <li>
                        <a class="mobile-main_menu-category mobile-main_menu-category_special">فروش ویژه</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mobile-menu_overlay js-mobile-menu_overlay"></div>
        <div class="mobile-container">
            <div class="mobile-header_nav">
                <nav>
                    <button class="mobile-header_categories js-mobile-header_categories">
                        دسته‌بندی‌ها
                        <span class="mobile-header_categories-icon"></span>
                    </button>
                </nav>
                <div class="mobile-header_logo js-mobile-header_logo"><a href="#"></a></div>
            </div>

            <div class="mobile-header_search">
                <div class="mobile-header_search-container">
                    <input class="mobile-input_search js-mobile-input_search js-input_search"
                        placeholder="جستجو از میان 1000000 کالا" type="text">
                    <div class="c-search_result js-search_result">
                        <div class="c-search_result-footer">
                            بیشترین جستجوهای اخیر:
                            <ul>
                                <li><a href="#">ساعت</a></li>
                                <li><a href="#">کفش</a></li>
                                <li><a href="#">یخچال</a></li>
                                <li><a href="#">پوشک</a></li>
                                <li><a href="#">کوله</a></li>
                                <li><a href="#">ماشین لباسشویی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="mobile-header_cart" data-counter="۲"></a>
                <a href="#" class="mobile-header_profile">
                    <div class="c-header_btn-user_has-noticcation js-header_btn-user_has-noticcation"></div>
                </a>
            </div>
        </div>


    </header>